.unicorn {
	background-image: url('unicorn.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width:100%;
	height:200px;
}

div {
	text-align: center;
}

table {
	width: 700px;
	margin: 10px auto;
}

table, table th, table td {
	border: 1px solid black;
}
